:root {
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer__contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-list__link-bg: rgba(255, 255, 255, 0.1);
  --hero-footer__street-color: #ffffff;
  --items-bgc: #ffffff;
  --what-we-do-bgc: #f5f5f5;
  --our-team-bgc: #f5f4fa;
  --portfolio__item-border: #eeeeee;
  --hero-bgc: #c4c4c4;
  --footer-bgc: #2f303a;
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --logo-color: #000000;
  --mobile-menu-bgc: #ffffff;
  --header-line: #ececec;
  --icon-fill: #afb1b8;
  --what-we-do-overlay-bc: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-font-color: rgba(255, 255, 255, 1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bgc: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --comment-text-color: rgba(117, 117, 117, 0.5);
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hero-footer__street-color);
  display: inline-block;
  margin-bottom: 20px;
}

.menu {
  display: none;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    column-gap: 50px;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .menu__link {
    position: relative;
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link--current {
    color: var(--accent-color);
  }
  .menu__link--current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    position: absolute;
    bottom: -34px;
  }
  .logo {
    margin-right: 87px;
  }
  .contacts__link {
    margin-bottom: 10px;
  }
}
.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__contact-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-dur-and-func);
}
.contacts__link:hover .contacts__contact-icon, .contacts__link:focus .contacts__contact-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    gap: 50px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__icon {
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--items-bgc);
}

.social-list__icon {
  fill: var(--icon-fill);
}

.join-us .social-list__link {
  background-color: var(--footer-social-list__link-bg);
}

.join-us .social-list__icon {
  fill: var(--items-bgc);
}

.social-list__link {
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc);
  z-index: 100;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: var(--items-bgc);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  border: 1px solid var(--backdrop-bgc);
  cursor: pointer;
  transition: fill var(--transition-dur-and-func);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-input:focus + .modal__form-input-icon {
  fill: var(--accent-color);
}

.modal__form-field-descr {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__form-field {
  margin-bottom: 10px;
}
.modal__form-field.comment {
  margin-bottom: 20px;
}

.modal__form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-dur-and-func);
}
.modal__form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal__form-message::placeholder {
  color: var(--comment-text-color);
}

.checkbox-text {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-link {
  color: var(--accent-color);
}
.checkbox-link:hover, .checkbox-link:focus {
  text-decoration: none;
}

.modal__form-submit {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: var(--hero-footer__street-color);
  background-color: var(--accent-color);
  cursor: pointer;
  width: 200px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
}
.modal__form-submit:hover, .modal__form-submit:focus {
  background-color: var(--button-hover-color);
}

.modal__form-input-wrapper {
  display: block;
  position: relative;
}

.modal__form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
}

.modal__form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__form-check {
  position: absolute;
  appearance: none;
}

.modal__form-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.modal__form-check:checked + .modal__form-checkbox {
  background-color: var(--accent-color);
  border: var(--accent-color);
}
.modal__form-check:focus + .modal__form-checkbox {
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

.modal__form-checkbox-icon {
  display: none;
  transition: fill var(--transition-dur-and-func);
}
.modal__form-check:checked + .modal__form-checkbox .modal__form-checkbox-icon {
  display: block;
  fill: var(--items-bgc);
}

@media screen and (min-width: 1200px) {
  .modal__form-check-field {
    padding-left: 12px;
  }
  .checkbox-text {
    font-size: 14px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--mobile-menu-bgc);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  transition: fill var(--transition-dur-and-func);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__list {
  margin-bottom: 50%;
}

.mobile-menu__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  display: block;
  align-items: center;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__contacts:hover, .mobile-menu__contacts:focus {
  color: var(--accent-color);
}

.contacts__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu__social-list {
  display: flex;
  gap: 10px;
}

.mobile-menu__social-list-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-list-link--no-border {
  border-right: 0;
}

@media screen and (min-width: 480px) {
  .mobile-menu__list {
    margin-bottom: 302px;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--hero-footer__street-color);
  border-bottom: 1px solid var(--header-line);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.hero {
  background-color: var(--hero-bgc);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/hero-background-mobile@2x.jpg");
  }
}
.hero__title {
  color: var(--hero-footer__street-color);
  width: 100%;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  color: var(--hero-footer__street-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 216px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

.hero__title,
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-tablet.jpg");
  }
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768x), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768x), screen and (min-resolution: 192dpi) and (min-width: 768x), screen and (min-resolution: 2dppx) and (min-width: 768x) {
  .box {
    background-image: url("../images/hero-background-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-desktop.jpg");
  }
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .box {
    background-image: url("../images/hero-background-desktop@2x.jpg");
  }
}
.advantages__logo-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--our-team-bgc);
}

.advantages__list {
  display: block;
}

.advantages__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages__text,
.profession {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages__list-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.section.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.about {
    padding-top: 0;
  }
  .what-we-do__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .what-we-do__list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .what-we-do__img-wrapper {
    position: relative;
  }
  .what-we-do__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    padding: 27px;
    background-color: var(--what-we-do-overlay-bc);
    color: var(--overlay-font-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.section.our-team {
  background-color: var(--our-team-bgc);
}

.our-team__list {
  display: block;
}

.our-team__member {
  flex-basis: calc((100% - 90px) / 4);
  background: var(--items-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.our-team__member:last-child {
  margin-bottom: 0px;
}

.our-team__member-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .our-team__member:nth-child(n+3) {
    margin-bottom: 0px;
  }
  .our-team__member-info {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section.our-team {
    background-color: var(--our-team-bgc);
  }
  .our-team__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .our-team__member {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    background: var(--items-bgc);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 0;
  }
  .our-team__member-info {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .our-team__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-list__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients-list__logo-frame {
  display: block;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  padding: 16px 32px;
  height: 92px;
  transition: border var(--transition-dur-and-func);
}
.clients-list__logo-frame:hover, .clients-list__logo-frame:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-fill);
  transition: fill var(--transition-dur-and-func);
}
.clients-list__logo-frame:hover .clients-list__logo, .clients-list__logo-frame:focus .clients-list__logo {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}
.footer {
  background-color: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.footer__street,
.footer__contacts-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--footer__contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__street {
  color: var(--hero-footer__street-color);
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.join-us__title,
.footer-form__title {
  color: var(--hero-footer__street-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: var(--items-bgc);
  border: 1px solid var(--footer-input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}

.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  text-align: center;
  color: var(--items-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--button-hover-color);
}

.footer-form__button-icon {
  fill: var(--items-bgc);
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--footer-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__street,
.footer__contacts-link {
    color: var(--footer__contacts-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: inline-block;
  }
  .footer__list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__street {
    color: var(--hero-footer__street-color);
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .join-us {
    margin-left: 70px;
  }
  .join-us__title,
.footer-form__title {
    color: var(--hero-footer__street-color);
    width: 166px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-form {
    margin-left: auto;
  }
  .footer-form__title {
    width: 100%;
  }
  .footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: var(--items-bgc);
    border: 1px solid var(--footer-input-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  .footer-form__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    text-align: center;
    color: var(--items-bgc);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
  }
  .footer-form__button:hover, .footer-form__button:focus {
    background-color: var(--button-hover-color);
  }
  .footer-form__button-icon {
    fill: var(--items-bgc);
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 232px;
    margin-left: auto;
    margin-right: 165px;
  }
  .join-us {
    width: 206px;
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer__contacts {
    width: 232px;
    margin-left: auto;
    margin-right: 70px;
  }
  .join-us {
    width: 206px;
    margin-left: 0;
    margin-right: 93px;
  }
  .footer-form__content {
    display: flex;
  }
}
.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__btn {
  color: var(--primary-text-color);
  background-color: var(--our-team-bgc);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--hero-footer__street-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--items-bgc);
}

.portfolio__work-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay-color);
  color: var(--overlay-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.portfolio__work-link:hover .portfolio__overlay, .portfolio__work-link:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__item .link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio__item .link:hover, .portfolio__item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item-info {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio__item-border);
  border-bottom: 1px solid var(--portfolio__item-border);
  border-right: 1px solid var(--portfolio__item-border);
}

.portfolio__item-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__item-category {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */