.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__btn {
  color: var(--primary-text-color);
  background-color: var(--our-team-bgc);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--hero-footer__street-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--items-bgc);
}

.portfolio__work-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay-color);
  color: var(--overlay-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);

  .portfolio__work-link:hover &,
  .portfolio__work-link:focus & {
    transform: translateY(0%);
  }
}

.portfolio__item .link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__item-info {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio__item-border);
  border-bottom: 1px solid var(--portfolio__item-border);
  border-right: 1px solid var(--portfolio__item-border);
}

.portfolio__item-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__item-category {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
