body {
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}