:root {
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer__contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-list__link-bg: rgba(255, 255, 255, 0.1);
  --hero-footer__street-color: #ffffff;
  --items-bgc: #ffffff;
  --what-we-do-bgc: #f5f5f5;
  --our-team-bgc: #f5f4fa;
  --portfolio__item-border: #eeeeee;
  --hero-bgc: #c4c4c4;
  --footer-bgc: #2f303a;
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --logo-color: #000000;
  --mobile-menu-bgc: #ffffff;
  --header-line: #ececec;
  --icon-fill: #afb1b8;
  --what-we-do-overlay-bc: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-font-color: rgba(255, 255, 255, 1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bgc: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --comment-text-color: rgba(117, 117, 117, 0.5);
}
